.navbar {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  background-color: #f3f3f3;
  width: 100%;
}

.btnsubmitstyle {
  margin: 0px 15px;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btnsubmit {
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 5px 10px;
}

.body {
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.label {
  font-weight: bold;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.input {
  border: none;
  border-radius: 10px;
  height: 25px;
  padding-left: 10px;
  width: 100%;
}

.txtdesc {
  resize: none;
  border: none;
  border-radius: 10px;
  height: 100px;
  padding-left: 10px;
  width: 100%;
}

.body-start-end {
  display: flex;
  gap: 20px;
}

.label-startend {
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.checkbox {
  display: flex;
}

.lbl-checkbox {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  width: 50%;
}

.input-checkbox {
  width: 20px;
  height: 25px;
  padding-left: 10px;
}

.div-file {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  margin: 10px 0px;
}

.pfile {
  border-radius: 5px;
  color: gray;
  background-color: antiquewhite;
  font-size: 15px;
  padding: 5px;
  margin: 0px;
}

.attachfile {
  margin: 0 10px;
}

.inputfile {
  border: none;
}

.divbtn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.btndown {
  margin: 10px;
  padding: 5px 10px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.myproject {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divcontent {
  display: flex;
}

.bloglist {
  box-shadow: 5px 5px 10px gray;
  margin: 20px;
  border-radius: 20px;
  background-color: white;
  width: 30%;
  border-style: outset;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-image {
  margin: 10px;
  width: 200px;
  border-radius: 20px;
}

.btn-group {
  display: flex;
  margin: 10px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.btnedit {
  border: none;
  border-radius: 5px;
  background-color: #e0e0e0;
  padding: 3px 10px;
}

.btndelete {
  color: white;
  border: none;
  border-radius: 5px;
  background-color: orangered;
  padding: 3px 10px;
}

.blog-content {
  margin: 10px;
}

.blogtitle {
  display: flex;
  justify-content: center;
}
